.accordion {
  max-width: 1000px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.accordion__item {
  background-color: #F8F8F8;
  margin-bottom: 5px;
}
.accordion__header {
  cursor: pointer;
  transition: background-color 0.5s;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.accordion__header.active {
  background-color: #E8E8E8;
}
.accordion__header:hover {
  background-color: #E8E8E8;
}
.accordion__content {
  height: 0px;
  overflow: hidden;
}
.accordion__content.active {
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.cta-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.cta-grid__item {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 400px) {
  .cta-grid__item {
    width: 49%;
  }
}
@media screen and (min-width: 600px) {
  .cta-grid__item {
    width: 32%;
  }
}
@media screen and (min-width: 768px) {
  .cta-grid__item {
    width: 24%;
  }
}
.cta-grid__image {
  height: 200px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.cta-grid__header {
  text-align: center;
}
.cta-grid__subheader p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.app {
  max-width: 1600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.app__section {
  margin-top: 40px;
  margin-bottom: 40px;
}
.app__title {
  margin-bottom: 30px;
}
.app__subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
}
.app__filter {
  width: 100px;
  max-width: 100px;
  height: 30px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
}