.accordion {
    max-width: 1000px;
    border: 1px solid transparent;
    border-radius: 4px;
    
    margin: {
        left: auto;
        right: auto;
    }

    &__item {
        background-color: #F8F8F8;
        margin: {
            bottom: 5px;
        }
    }

    &__header {
        cursor:pointer;
        transition: background-color 0.5s;

        padding: {
            right: 20px;
            left: 20px;
            top: 10px;
            bottom: 10px;
        }

        &.active {
            background-color: #E8E8E8;
        }

        &:hover {
            background-color: #E8E8E8;
        }
    }

    &__content {
        max-height: 0px;
        overflow: hidden;

        &.active {
            max-height: 500px;
            transition: max-height 0.25s ease-in;

            padding: {
                right: 20px;
                left: 20px;
                bottom: 20px;
                top: 20px;
            }
        }
    }
}